<ion-content >
  <div class="ion-padding">
    <ion-icon name="close-circle-outline" (click)="closeModal()"></ion-icon>
  </div>
  <img src="../../assets/img/correction.png">
  <h2 align="center"><b>Thank you!</b></h2>
  <h6 align="center" class="ion-padding">Your order <b>#7855</b> is completed.<br>
    Please check the delivery status at <b>Order Trackink page</b>
  </h6>
  <div class="container-form-btn ion-padding">
    <button class="form-btn custom-font" (click)="backToHome()">
      <b>Continue Shopping</b>
    </button>
  </div>
</ion-content>