<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="btn-position ion-padding">
      <ion-button fill="clear" routerLink="/single">
        <ion-icon name="close-outline" color="dark"></ion-icon>
      </ion-button>
      <h5><b>Edit</b></h5>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <h2>Shopping cart</h2>
  </div>
  <hr>
  <div class="ion-padding">
    <h4><b>2 products</b> in the cart</h4>
  </div>
  <div class="box">
    <ion-card>
      <div class="selling-position">
        <img src="../../assets/img/h1.jpg">
        <h4>Ruffe Trim Spot Wrap Dress</h4>
      </div>
      <div class="shop-position ion-padding">
        <h6>$29.00</h6>
        <ion-button size="small" fill="clear">
          <ion-icon name="trash-bin-outline" color="danger"></ion-icon>
        </ion-button>
      </div>
      <div class="other-position">
        <h5>
          <ion-icon name="ellipse" color="dark"></ion-icon>Black |
        </h5>
        <h5>Size:<b> 38</b></h5>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="selling-position">
        <img src="../../assets/img/detail_2.jpg">
        <h4>Leaf Floral Print Random wr</h4>
      </div>
      <div class="shop-position ion-padding">
        <h6>$29.00</h6>
        <ion-button size="small" fill="clear">
          <ion-icon name="trash-bin-outline" color="danger"></ion-icon>
        </ion-button>
      </div>
      <div class="other-position">
        <h5>
          <ion-icon name="ellipse" color="warning"></ion-icon>Yellow |
        </h5>
        <h5>Size:<b> 40</b></h5>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="ion-padding">
    <div class="total-position">
      <h5>Shipping free</h5>
      <h6>$6.99</h6>
    </div>
    <div class="total-position">
      <h5>Sub total</h5>
      <h6>$77.99</h6>
    </div>
    <div class="total-position">
      <h5><b>Total</b></h5>
      <h6><b>$90.99</b></h6>
    </div>

    <div class="container-form-btn">
      <button class="form-btn custom-font" routerLink="/checkout">
        <b>CHECKOUT</b>
      </button>
    </div>
  </div>
</ion-content>
