<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="title-position">
      <ion-button fill="clear" [routerLink]="['/home']">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
      <h5>Categories</h5>
      <ion-button fill="clear">
        <ion-icon name="search" class="search"></ion-icon>
      </ion-button>
    </div>
    <hr>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box">
    <ion-card>
      <div class="category-position">
        <img src="../../assets/img/category_1.jpg">
        <h4>Decoration</h4>
      </div>
      <div class="items-position ion-padding">
        <h6>1065 items</h6>
        <ion-button size="small" fill="clear" color="dark" class="item-btn" routerLink="/detail-category">
          <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="category-position">
        <img src="../../assets/img/category_2.jpg">
        <h4>Celling</h4>
      </div>
      <div class="items-position ion-padding">
        <h6>1065 items</h6>
        <ion-button size="small" fill="clear" color="dark" class="item-btn">
          <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="category-position">
        <img src="../../assets/img/category_3.jpg">
        <h4>Floor</h4>
      </div>
      <div class="items-position ion-padding">
        <h6>1065 items</h6>
        <ion-button size="small" fill="clear" color="dark" class="item-btn">
          <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="category-position">
        <img src="../../assets/img/category_4.jpg">
        <h4>Furniture</h4>
      </div>
      <div class="items-position ion-padding">
        <h6>1065 items</h6>
        <ion-button size="small" fill="clear" color="dark" class="item-btn">
          <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="category-position">
        <img src="../../assets/img/category_5.jpg">
        <h4>Wooden</h4>
      </div>
      <div class="items-position ion-padding">
        <h6>1065 items</h6>
        <ion-button size="small" fill="clear" color="dark" class="item-btn">
          <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
        </ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
</ion-content>
