<ion-header class="ion-no-border">
  <ion-toolbar>
  <ion-icon name="arrow-back" color="dark" routerLink="/login"></ion-icon>
   <div class="ion-padding flex-element">
     <h1><b>Forgot password</b></h1>
   </div>
   <h6 class="ion-padding">please enter your email adress. You will receive a link to create a new password via email.</h6>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="position ion-padding">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <div class="container-form-btn">
      <button class="form-btn custom-font" routerLink="/home">
        <b>SEND</b>
      </button>
    </div>

    <h5 class="forgot-password" routerLink="/login">Already have an account?</h5>

    <div class="container-form-btn-fb">
      <button class="form-btnFb">
        <b>LOGIN WITH FACEBOOK</b>
      </button>
    </div>

    <h5 class="sign-up" routerLink="/register">Don't have an account? Sign Up</h5>

 </div>
</ion-content>