*{
  font-family: Montserrat, sans-serif;
}

ion-header{

	ion-toolbar{
		ion-icon{
			margin-top:1em;
			font-size:25px;
			margin-left: 0.5em;
		}
	}
	.flex-element{
		display: flex;
		justify-content:space-between;

		h1{
			color: black;
			margin-left: 0.5em;
		}
	}

	h6{
		margin-top:-1.3em;
		color: black;
		margin-left: 0.8em;
		display: flex;
		justify-content:space-between;
	}
}

ion-content{
	.position{
		margin-top:1em;
	}
	.container-form-btn {
	    display: flex;
	    justify-content: center;
	    margin-top:5em !important;   

	  	.form-btn {
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 0 20px;
		    min-width: 340px;
		    height: 48px;
		    background-color: #000000;
		    border-radius: none;
		    font-size: 14px;
		    color: #FFFFFF;
		    text-transform: uppercase;
		    padding-top: 5px;
		    transition: all 0.4s;
	  	}
  	}

	.forgot-password{
		 color:black;
		 text-align: center;
		 margin-top:1.7em;
	}

	.sign-up{
		 color:black;
		 text-align: center;
		 margin-top:2em;
	}

	.custom-font-mail {
	  color:grey;
	}

	.container-form-btn-fb {
	  display: flex;
	  justify-content: center;
	  margin-top: 4em;
	}

	.form-btnFb {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 0 20px;
	  min-width: 340px;
	  height: 48px;
	  background-color: #FFFFFF;
	  border-radius: none;
	  border:2px solid #3a5999;
	  font-size: 12px;
	  color: #3a5999;
	  padding-top: 5px;
	  transition: all 0.4s;
	}

	ion-label{
		font-family: Montserrat, sans-serif;
		color:grey;
	}

}