<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="btn-position ion-padding">
      <ion-button fill="clear" [routerLink]="['/single']" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <h2><b>Reviews</b></h2>
  </div>
  <hr>
  <div class="ion-padding">
    <div>
      <div class="commentaire">
        <img src="../../assets/img/profil.JPG">
        <p>
          Lorem anim veniam eiusmod aliquip sed eu elit quis consequat laborum eiusmod proident ex sit magna nulla adipisicing tempor do in aute dolore
        </p>
      </div>
      <div class="time">
        <h6>3 hour ago</h6>
      </div>
      <hr>
    </div>
    <div>
      <div class="commentaire">
        <img src="../../assets/img/profil.JPG">
        <p>
          Lorem anim veniam eiusmod aliquip sed eu elit quis consequat laborum eiusmod proident ex sit magna
        </p>
      </div>
      <div class="time">
        <h6>5 hour ago</h6>
      </div>
      <hr>
    </div>
    <div>
      <div class="commentaire">
        <img src="../../assets/img/profil.JPG">
        <p>
          Lorem anim veniam eiusmod aliquip sed eu elit quis consequat laborum eiusmod proident ex sit magna
        </p>
      </div>
      <div class="time">
        <h6>5 minutes ago</h6>
      </div>
      <hr>
    </div>
    <div>
      <div class="commentaire">
        <img src="../../assets/img/profil.JPG">
        <p>
          Lorem ullamco in veniam consequat commodo ex dolore ea ad cillum excepteur labori
        </p>
      </div> 
      <div class="time">
        <h6>7 days ago</h6>
      </div>
      <hr>
    </div>  
    <div class="submit_avis">
      <img src="../../assets/img/profil.png">
      <input type="text" placeholder="Add here a comment">
      <ion-icon name="send"></ion-icon>
    </div>
  </div>
</ion-content>
