<ion-content>
  <div class="title-position">
    <ion-button fill="clear" [routerLink]="['/home']">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon name="search" class="search"></ion-icon>
    </ion-button>
  </div>
  <img src="../../assets/img/background_deal.jpg" class="bg">
  <div class="selling-title">
    <h5 class="selling"><b>Best Selling (350)</b></h5>
    <h6 class="show" routerLink="/show-all">Show all</h6>
  </div>
  <div class="box">
    <ion-card>
      <div class="selling-position">
        <img src="../../assets/img/h1.jpg">
        <h4>Ruffe Trim Spot Wrap Dress</h4>
      </div>
      <div class="shop-position ion-padding">
        <h6>$29.00</h6>
        <ion-button size="small" class="shop-btn">Shop</ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="selling-position">
        <img src="../../assets/img/detail_2.jpg">
        <h4>Leaf Floral Print Random wr</h4>
      </div>
      <div class="shop-position ion-padding">
        <h6>$29.00</h6>
        <ion-button size="small" class="shop-btn">Shop</ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="selling-position">
        <img src="../../assets/img/detail_1.jpg">
        <h4>Drop Shoulder Geo Patterns</h4>
      </div>
      <div class="shop-position ion-padding">
        <h6>$29.00</h6>
        <ion-button size="small" class="shop-btn">Shop</ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="selling-title">
    <h5 class="selling"><b>Lamps (1850)</b></h5>
    <h6 class="show" routerLink="/show-all">Show all</h6>
  </div>
  <div class="box">
    <ion-card>
      <div class="selling-position">
        <img src="../../assets/img/deal_1.jpg">
        <h4>Ruffe Trim Spot Wrap Dress</h4>
      </div>
      <div class="shop-position ion-padding">
        <h6>$29.00</h6>
        <ion-button size="small" class="shop-btn">Shop</ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="selling-position">
        <img src="../../assets/img/deal_2.jpg">
        <h4>Leaf Floral Print Random wr</h4>
      </div>
      <div class="shop-position ion-padding">
        <h6>$29.00</h6>
        <ion-button size="small" class="shop-btn">Shop</ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
  <div class="box">
    <ion-card>
      <div class="selling-position">
        <img src="../../assets/img/deal_3.jpg">
        <h4>Drop Shoulder Geo Patterns</h4>
      </div>
      <div class="shop-position ion-padding">
        <h6>$29.00</h6>
        <ion-button size="small" class="shop-btn">Shop</ion-button>
      </div>
    </ion-card>
    <hr>
  </div>
</ion-content>
