<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
      <ion-slide>
        <img src="../../assets/img/slide_1.jpg">
        <h5 class="slide-text"> Make yourself at<br> home</h5>
        <h6 class="slide-sub-text">We love clean design and natural furniture solutions</h6>
      </ion-slide>
      <ion-slide>
          <img src="../../assets/img/slide_2.jpg">
      </ion-slide>
      <ion-slide>
          <img src="../../assets/img/slide_3.jpg">
      </ion-slide>
  </ion-slides>
  <div class="arrival-title">
    <h5 class="arrival"><b>New Arrivals</b></h5>
    <h6 class="show" routerLink="/show-all">Show all</h6>
  </div>
  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{slidesPerView :'auto',zomm: false, grabCursor:true}">
      <ion-slide>
        <ion-col>
          <h5>Nancy chair</h5>
          <img src="../../assets/img/cat1.jpg">
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col>
          <h5>Table Wood</h5>
          <img src="../../assets/img/cat2.jpg">
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col>
          <h5>Sofa</h5>
          <img src="../../assets/img/cat3.jpg">
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col>
          <h5>Other chair</h5>
          <img src="../../assets/img/cat4.jpg">
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col>
          <h5>Sandales pà talons hauts</h5>
          <img src="../../assets/img/cat6.jpg">
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="position-title">
    <h5><b>Top Trends</b></h5>
    <ion-button size="small" class="see-more" fill="outline" routerLink="/show-all">Show all
     <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
   </ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
       <ion-card routerLink="/single">
        <img src="../../assets/img/h1.jpg">
        <span class="title">Dark blue armchair</span>
        <ion-card-subtitle>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-card-subtitle>
        <div class="sub_element">
          <span class="price">$2520</span>
          <ion-icon name="chevron-forward-circle-outline" routerLink="/single"></ion-icon>
        </div>
        <ion-button size="small" class="add-cart-btn">Add to cart</ion-button>
       </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/img/h2.jpg">
          <span class="title">Mini armchair</span>
          <ion-card-subtitle>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-card-subtitle>
          <div class="sub_element">
            <span class="price">$1000</span>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
          <ion-button size="small" class="add-cart-btn">Add to cart</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
       <ion-card>
        <img src="../../assets/img/h3.jpg">
        <span class="title">Armchair red</span>
        <ion-card-subtitle>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-card-subtitle>
        <div class="sub_element">
          <span class="price">$5025</span>
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </div>
        <ion-button size="small" class="add-cart-btn">Add to cart</ion-button>
       </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/img/h4.jpg">
        <span class="title">Armchair thread</span>
        <ion-card-subtitle>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-card-subtitle>
          <div class="sub_element">
            <span class="price">$8000</span>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
          <ion-button size="small" class="add-cart-btn">Add to cart</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card class="bg_1">
              <div>
              <h5 class="cardTitle">Profitez de nos meilleurs services</h5>
              <ion-button size="small" class="banniereBtn">Nos produits</ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card class="bg_2">
              <div>
              <h5 class="cardTitle">Profitez de nos meilleurs services</h5>
              <ion-button size="small" class="banniereBtn">Nos produits</ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card class="bg_3">
              <div>
              <h5 class="cardTitle">Profitez de nos meilleurs services</h5>
              <ion-button size="small" class="banniereBtn">Nos produits</ion-button>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
       <ion-card>
        <img src="../../assets/img/h5.jpg">
        <span class="title">Stool</span>
        <ion-card-subtitle>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-card-subtitle>
        <div class="sub_element">
          <span class="price">$15050</span>
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </div>
        <ion-button size="small" class="add-cart-btn">Add to cart</ion-button>
       </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/img/h6.jpg">
        <span class="title">Bar stool</span>
        <ion-card-subtitle>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-card-subtitle>
          <div class="sub_element">
            <span class="price">$8004</span>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
          <ion-button size="small" class="add-cart-btn">Add to cart</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
       <ion-card>
        <img src="../../assets/img/h7.jpg">
        <span class="title">Night light</span>
        <ion-card-subtitle>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-card-subtitle>
        <div class="sub_element">
          <span class="price">$25000</span>
          <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </div>
        <ion-button size="small" class="add-cart-btn">Add to cart</ion-button>
       </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="../../assets/img/h8.jpg">
        <span class="title">Luminous</span>
        <ion-card-subtitle>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </ion-card-subtitle>
          <div class="sub_element">
            <span class="price">$15000</span>
            <ion-icon name="chevron-forward-circle-outline"></ion-icon>
          </div>
          <ion-button size="small" class="add-cart-btn">Add to cart</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
