<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="btn-position ion-padding">
      <ion-button fill="clear" [routerLink]="['/single']" color="dark">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button fill="clear">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1><b>My Account</b></h1>
    <div class="img-position">
      <img src="../../assets/img/profil.JPG">
      <h5>Gregory Bella</h5>
    </div>
    <div class="menu-position">
      <h4>Wishlist</h4>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <hr>
    <div class="menu-position">
      <h4>My Orders</h4>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <hr>
    <div class="menu-position">
      <h4>Payement Method</h4>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <hr>
    <div class="menu-position">
      <h4>Delevry Adreess</h4>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <hr>
    <div class="menu-position">
      <h4>Gift cards & vouchers</h4>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <hr>
    <div class="menu-position">
      <h4>Update my account</h4>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <hr>
    <div class="menu-position">
      <h4>Contact preferences</h4>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>
